<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="BookmasterEntities" connectionString="metadata=res://*/Model.BookmasterModel.csdl|res://*/Model.BookmasterModel.ssdl|res://*/Model.BookmasterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL;initial catalog=Skhvediani.Darya.Bookmaster;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>